doctype html
html(lang="en")
  head
    title Flash cards
  body
    header
      h1 Flash cards
    section#content 
      h2= prompt
      p 
        i  Hint: #{hint}
    footer 
        p An app to help you study.